* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1420px;
    display: flex;
}

nav {
    height: 100px;
    display: flex;
    place-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container .logo {
    color: black;
    display: flex;
    gap: 10px;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links a {
    color: black;
    font-size: 16px;
    text-transform: uppercase;
}

.nav-links .active {
    color: rgb(42, 165, 108);
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu-button {
    display: none;
}

@media (max-width: 1024px) {
    nav {
    height: 90px;
    }
    .nav-container .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        gap: 0;
        top: 90px;
        right: 2rem;
        position: fixed;
        background: #894647;
        border-radius: 3rem;
    }
    .nav-links a {
        display: inline-block;
        height: 4rem;
        width: 20rem;
        text-align: center;
        color: white;
        line-height: 4rem;
    }
    .nav-right {
        gap: 20px;
        font-size: 1.5rem;
    }
    .menu-button {
        display: flex;
        background: transparent;
        border: none;
        font-size: 1.6rem;
        cursor: pointer;
    }
    .navlinksShow {
        display: flex;
    }
    .navlinksHide {
        display: none;
    }
}

@media (max-width:600px) {
    .nav-container .logo {
        font-size: 1.2rem;
    }
    .nav-links {
        width: 70%;
        margin-right: 7%;
    }
}