@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;   
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    width: 75%;
    margin: 0 auto;
    /* max-width: 1420px; */
    display: flex;
}

nav {
    height: 100px;
    display: flex;
    place-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container .logo {
    color: black;
    display: flex;
    gap: 10px;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links a {
    color: black;
    font-size: 16px;
    text-transform: uppercase;
}

.nav-links .active {
    color: rgb(42, 165, 108);
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 1.5rem;
    cursor: pointer;
}

.menu-button {
    display: none;
}
 
.button-login {
    background: black;
    color: white;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
    padding: 0.6rem 1rem 0.6rem 1rem;
    border-radius: 3rem;
}

.home {
    width: 75%;
    margin: 0 auto;
}

.home-img {
    width: 100%;
    height: 700px;
}

.shop-btn {
    border: none;
    position: relative;
    top: -155px;
    left: 60%;
    background: #C69D5F;
    padding: 0.8rem 1rem 0.8rem 1rem;
    color: white;
    font-size: large;
    cursor: pointer;
}

.shop-button {
    border: none;
    position: absolute;
    background: #C69D5F;
    top: 70%;
    left: 49.3%;
    padding: 0.8rem 1rem 0.8rem 1rem;
    color: white;
    font-size: large;
    cursor: pointer;
}
.shop-button:hover {
    background: #894647;
}
.home-section {
    display: flex;
}
.section-p {
    font-size: 4rem;
    margin-top: 12rem;
    width: 80%;
    font-weight: 500;
    text-transform: capitalize;
}
.section-p-p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 3.5;
}
.section-button {
    border: none;
    background: #C69D5F;
    padding: 0.8rem 2rem 0.8rem 2rem;
    color: white;
    font-size: medium;
    cursor: pointer;
    text-transform: uppercase;
}
.section-button:hover {
    background: white;
    color: #C69D5F;
    border: 2px solid #C69D5F;
}
.container-section {
    display: flex;
    position: relative;
}
.image-wrapper {
    position: relative;
}
.home-image {
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}
/* Background color only at the bottom */
.background-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px; 
    background-color: #E7EFF4; 
    z-index: 0; /* Keep background behind the image */
}
.home-section1 {
    display: flex;
}
.home-section2 {
    display: none;
}
.home-sectionn {
    margin-left: 6rem;
}
.home-product {
    width: 100%;
}
.home-product-p {
    text-align: center;
}
.home-product-tag{
    margin-top: 8rem;
    text-transform: uppercase;
    font-size: 2rem;
}
.home-product-tagline {
    text-transform: capitalize;
}
.home-product-list {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.product-item {
    margin-bottom: -50px;
    cursor: pointer;
}
.home-product-img {
    width: 95%;
    height: 70%;
}
.home-product-img:hover {
    transform: scale(1.05);
}
.home-tag {
    display: flex;
    background: #F7F6F9;
    margin-top: 3rem;
    height: 650px;
}
.home-tag-section {
    margin-left: 4rem;
}
.home-tag-p {
    font-size: 4rem;
    margin-top: 12rem;
    width: 100%;
    font-weight: 500;
    text-transform: capitalize;
}
.home-tag-p-p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 4;
}
.home-tag-button {
    padding: 0.8rem 2rem 0.8rem 2rem;
    font-size: medium;
    cursor: pointer;
    text-transform: uppercase;
    background: white;
    color: #C69D5F;
    border: 2px solid #C69D5F;
}
.home-tag-button:hover {
    border: none;
    background: #C69D5F;
    color: white;
}
.home-tag-img {
    width: 100%;
    margin-top: 2rem;
    margin-left: 8rem;
    height: 90%;
}
.home-blog {
    width: 100%;
}
.home-blog-p {
    text-align: center;
    margin-top: 8rem;
    font-size: 2rem;
    text-transform: uppercase;
}
.home-blog-list {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.home-blog-img {
    width: 95%;
    height: 80%;
}
.home-blog-list-resp {
    display: none;
}
.home-blog-list-mob {
    display: none;
}
.home-blog-tag {
    margin-top: 1rem;
    text-align: center;
    text-transform: uppercase;
    color: gray;
    font-weight: 500;
}
.home-blog-title {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.3rem;
    line-height: 2;
}
.home-blog-desc {
    color: gray;
}
footer {
    margin-top: 12rem;
    background: #F9F9F9;
    height: 40vh;
}
.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 200px;
    width: 75%;
    margin: 0 auto;
    margin-top: 2rem;
}
.footer-section1 {
    width: 270px;
}
.footer-section1-logo {
    display: flex;
    gap: 6px;
}
.footer-logo {
    margin-top: 0.5rem;
    font-size: 30px;
}
.footer-header {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 0.2rem;
    font-size: 25px;
}
.footer-section {
    text-transform: capitalize;
    width: 200px;
}
.footer-head {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
li {
    line-height: 2.5;
}
.footer-last {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.8rem;
}
.footer-h {
    width: 75%;
    margin: 0 auto;
}
.footer-last p {
    margin-top: 0.6rem;
}
.footer-sections {
    display: none;
}
.cart-count {
    position: absolute;
    background: #C69D5F;
    border-radius: 50%;
    height: 27px;
    width: 27px;
    left: 80%;
    top: 15%;
    font-size: 1.2rem;
    text-align: center;
}

.cart-button {
    position: relative;
    left: 20%;
    border: none;
    background: #C69D5F;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

/* cart section */
.cart-header {
    background-color: #f8f5f5;
}
.cart-header-p {
    width: 75%;
    margin: 0 auto;
    height: 5vh;
    display: flex;
    gap: 2rem;
    align-items: center;
}
.cart-header a {
    color: black;
}
.cart-header span {
    font-size: 0.7rem;
}
.cart-head {
    color: #C69D5F;
    font-weight: 500;
}
.cart-item-section {
    width: 75%;
    margin: 0 auto;
    margin-top: 4rem;
}
.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th {
    border: 1px solid rgb(229, 225, 225);
    text-transform: uppercase;
    padding: 12px;
    text-align: center;
    font-weight: 400;
}
td {
    border: 1px solid rgb(229, 225, 225);
}
.table-head-name {
    text-align: left;
}
.table-product {
    display: flex;
    align-items: center;
}
.table-product img {
    width: 100px;
    height: 100px;
    margin: 1rem 1rem;
}
.table-product p {
    margin-left: 2rem;
}
.table-tr {
    text-align: center;
}
.table-quantity button {
    border: 1px solid rgb(210, 209, 209);
    padding: 0.1rem 0.8rem 0.1rem 0.8rem;
    background: none;
} 

@media (max-width: 1024px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
    nav {
    height: 90px;
    }
    .nav-container .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        gap: 0;
        top: 90px;
        right: 2rem;
        position: fixed;
        background: #894647;
        border-radius: 3rem;
    }
    .nav-links a {
        display: inline-block;
        height: 4rem;
        width: 20rem;
        text-align: center;
        color: white;
        line-height: 4rem;
    }
    .nav-right {
        gap: 20px;
        font-size: 1.5rem;
    }
    .menu-button {
        display: flex;
        background: transparent;
        border: none;
        font-size: 1.6rem;
        cursor: pointer;
    }
    .navlinksShow {
        display: flex;
    }
    .navlinksHide {
        display: none;
    }
    .button-login {
        display: none;
    }
    .home {
        width: 90%;
        margin: 0 auto;
    }
    .home-img {
        width: 100%;
        height: 500px;
    }
    .shop-btn {
        border: none;
        position: relative;
        background: #C69D5F;
        top: -110px;
        left: 58%;
        padding: 0.6rem 1rem 0.6rem 1rem;
        color: white;
        font-size: large;
        cursor: pointer;
    }
    .shop-button {
        border: none;
        position: absolute;
        background: #C69D5F;
        top: 68%;
        left: 48.9%;
        padding: 0.6rem 1rem 0.6rem 1rem;
        color: white;
        font-size: large;
        cursor: pointer;
    }
    .shop-button:hover {
        background: #894647;
    }
    .home-section {
        display: block;
    }
    .section-p {
        margin-top: 6rem;
        font-size: 2rem;
        text-transform: capitalize;
    }
    .home-image {
        max-width: 80%;
    }
    .home-section2 {
        display: block;
    }
    .home-section1 {
        display: none;
    }
    .home-product-tag{
        margin-top: 6rem;
    }
    .home-product-list {
        margin-top: 3rem;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
    .product-item {
        margin-bottom: -60px;
    }
    .home-product-img {
        width: 99%;
    }
    .home-tag {
        height: 450px;
    }
    .home-tag-section {
        margin-left: 2rem;
    }
    .home-tag-p {
        font-size: 2rem;
        margin-top: 9rem;
        width: 100%;
        font-weight: 500;
        text-transform: capitalize;
    }
    .home-tag-p-p {
        font-size: 1rem;
    }
    .home-tag-img {
        width: 100%;
        margin-top: 3.5rem;
        margin-left: 5rem;
        height: 80%;
    }
    .home-blog-list {
        display: none;
    }
    .home-blog-p {
        margin-top: 6rem;
    }
    .home-blog-list-resp {
        width: 100%;
        display: flex;
        margin-top: 3rem;
        gap: 30px;
    }
    .home-blog-img {
        width: 100%;
        height: 80%;
    }
    .home-blog-list-mob {
        display: none;
    }

    footer {
        margin-top: 12rem;
        background: #F9F9F9;
        height: 50vh;
    }
    .footer {
        display: block;
        width: 90%;
        margin-top: 2rem;
    }
    .footer-section1 {
        width: 270px;
        text-align: center;
        margin: 0 auto;
    }
    .footer-section1-logo {
        display: flex;
        gap: 6px;
        justify-content: center;
    }
    .footer-logo {
        margin-top: 0.5rem;
        font-size: 20px;
    }
    .footer-header {
        font-size: 1.5rem;
        margin-bottom: 0.8rem;
    }
    .footer-section-p {
        font-size: 0.9rem;
    }
    .social-icons {
        justify-content: center;
        font-size: 20px;
    }
    .footer-section {
        display: none;
    }
    .footer-sections {
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;
    }
    .footer-section-resp {
        text-transform: capitalize;
    }
    .footer-head {
        font-size: 1.2rem;
    }
    .footer-sections li {
        line-height: 2.5;
        font-size: 0.8rem;
    }
    .footer-last {
        margin-top: 1rem;
        text-align: center;
        font-size: 0.8rem;
    }
    .footer-h {
        width: 90%;
        margin: 0 auto;
    }
    .cart-count {
        height: 23px;
        width: 23px;
        left: 89%;
        top: 14%;
        font-size: 1rem;
    }

    .cart-item-section {
        width: 90%;
    }
    .table-quantity button {
        padding: 0rem 0.5rem 0rem 0.5rem;
    }
      
}

@media (max-width:600px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
    .nav-container {
        width: 90%;
    }
    .nav-container .logo {
        font-size: 1.1rem;
    }
    .nav-links {
        width: 70%;
        margin-right: 7%;
    }
    .nav-right {
        gap: 15px;
        font-size: 1.5rem;
    }
    .button-login {
        display: none;
    }
    .home {
        width: 90%;
        margin: 0 auto;
    }
    .home-img {
        width: 100%;
        height: 200px;
    }
    .shop-btn {
        border: none;
        position: relative;
        top: -55px;
        left: 51%;
        background: #C69D5F;
        padding: 0.4rem 0.4rem 0.4rem 0.4rem;
        color: white;
        font-size: large;
        cursor: pointer;
    }
    
    .shop-button {
        border: none;
        position: absolute;
        background: #C69D5F;
        top: 58%;
        left: 47.2%;
        padding: 0.4rem 0.4rem 0.4rem 0.4rem;
        color: white;
        font-size: large;
        cursor: pointer;
    }
    .section-p {
        margin-top: 5rem;
        font-size: 1.8rem;
    }
    .section-p-p {
        font-size: 1rem;
        margin-top: 1rem;
        line-height: 1.8;
    }
    .section-button {
        margin-top: 1.4rem;
        padding: 0.8rem 1.8rem 0.8rem 1.8rem;
    }
    .background-bottom {
        height: 80px; 
    }
    .home-product-tag{
        margin-top: 4rem;
        text-transform: uppercase;
        font-size: 1.6rem;
    }
    .home-product-list {
        margin-top: 2.5rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .product-item {
        margin-bottom: -15px;
    }
    .home-product-img {
        width: 100%;
    }
    .home-tag {
        height: 300px;
    }
    .home-tag-section {
        margin-left: 1rem;
    }
    .home-tag-p {
        font-size: 1.5rem;
        margin-top: 2rem;
        width: 100%;
        font-weight: 500;
        text-transform: capitalize;
    }
    .home-tag-p-p {
        font-size: 1rem;
        margin-top: 1.2rem;
        line-height: 2;
    }
    .home-tag-button {
        margin-top: 1.5rem;
        padding: 0.8rem 1.2rem 0.8rem 1.2rem;
    }
    .home-tag-img {
        position: absolute;
        width: 40%;
        margin-top: 7.5rem;
        margin-left: -10rem;
        height: 20%;
    }
    .home-blog-list-resp {
        display: none;
    }
    .home-blog-p {
        margin-top: 4rem;
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }
    .home-blog-list-mob {
        display: inline;
        max-width: 100%;
    }
    .blog-item {
        margin-bottom: 2rem;
    }
    .home-blog-img {
        width: 101%;
        height: 80%;
    }
    .home-blog-tag {
        margin-top: 0.5rem;
    }
    .home-blog-title {
        font-size: 1.2rem;
    }
    footer {
        margin-top: 6rem;
        height: 128vh;
    }
    .footer {
        margin-top: 1.5rem;
    }
    .footer-sections {
        display: block;
        text-align: center;
        margin-top: 2rem;
    }
    .footer-header {
        font-size: 1.3rem;
    }
    .footer-section-p {
        font-size: 0.85rem;
    }
    .footer-section-resp {
        text-transform: capitalize;
    }
    .footer-head {
        font-size: 1.2rem;
        margin-bottom: 1.2rem;
        margin-top: 2rem;
    }
    .footer-sections li {
        line-height: 2.5;
        font-size: 0.8rem;
    }
    .footer-last {
        font-size: 0.7rem;
    }
    .cart-count {
        height: 23px;
        width: 23px;
        left: 80%;
        top: 14%;
        font-size: 1rem;
    }
}